*{
    margin: 0;
    padding:0;
  
  
}
.head h1{
    color:red ;
    padding: 10px;
    
}
.navbar{
    margin: 10px;
}
.navbar a{
    margin: 10px;
    color: rgb(164, 228, 15);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
.navbar a:hover{
    color: red;
   
}
.mid{
    width: 101%;
}
.mid div{
    color: tomato;(250, 248, 242);
   background-color: darkturquoise;
   text-align: center;
   padding:25px;
}
.mid div a marquee a:hover{
    color: rgb(17, 4, 1);
    ci
}
.mid a{
    color: floralwhite;
   
    margin: 50px;
   
}
.mid2{
    text-align: center;
  
    
    width: 101%;
    height: 600px;
    background-image: url(../template/img/shoes.jpg);
    background-size: cover;
   
}
.text{
    font-weight: bolder;
}



.text  span {
    color: white;
  font-size: 50px;
   
   
   
}
.text strong{
    display: block;
  text-align: center;
  padding-bottom: -8px;
  letter-spacing: 2px;
  font-size: 30px;
 

}
.para h1{
    text-align: center;
    color: black;
    letter-spacing: 5px;
    font-family: font-family: "Montserrat", Arial, sans-serif;;
}
.image{
    text-align: center;
}
.image img{
    height:450px;
    display: inline-block;
    width: 45%;
    margin-bottom: 20px;
    padding: 2em 1em;
}

.galary{

    text-align: center;
}

.img{
    margin: 20px;    
    width: 45%;
    display: inline-block;
    text-align: center;
}
.img img{
    align-content: center;
    height: 400px;
    width: 600px;
    padding: 0px;
  
   clear: both;
}
   
.img span{
    color: rgb(204, 23, 23);
    display: block;
    margin-top: -0px;

    font-size:28px;
   margin: 10px;
   
    font-weight: 400;
    font-family: "Rokkitt", Georgia, serif;
    letter-spacing: 5px;
    transition: 0.8s;
}
.img   a  span a:hover{
    transition: 0.9s;
    color: coral;
  display: block;
  
}
.para1{
    text-align: center;
   margin:50px;
   color: darkturquoise;
   font-size: 20px;

}
.images img{
    padding:0px;
    width: 232px;
    height: 250px;
    margin: 18px;
    
}
.multig{
    text-align: center;
    background-color: darkturquoise;
    padding: 15px;
    opacity: 0.8;
}
.images1 img{
    padding:0px;
    width: 232px;
    height: 250px;
    margin: 18px;
    
}
.images2 img{
    padding:0px;
    width: 232px;
    height: 250px;
    margin: 18px;
    
}
.images3 img{
    padding:0px;
    width: 232px;
    height: 250px;
    margin: 18px;
    
}
.products{
   
   background-color: dimgray;
  padding: 20px;
  color:rgb(211, 17, 27);
  font-size: 30px;
  margin: 10px;display: inline-block;
  float: right;
  letter-spacing: 3px;
 
  
  
}
.trusts {
    padding:327px;
    text-align: center;
    letter-spacing: 1px;
    color: lightslategray;
    font-weight: bolder;
    font-size: 10px;
    opacity: 0.8;
    height: 20px;
}
fimage{
    text-align: center;
}
.company img{
    padding: 0px;
    width: 150px;
    /* height: 130px; */
    margin: 50px;
    text-align: center;
}
.block {
    padding: 68px;
    margin: 37PX;
  
text-align: center;
}
.bl1{
    float: left;
    line-height: 30px;
    color: rgb(31, 120, 236);
}
.bl2{
    float: right;
    line-height: 30px;
    color: lightsteelblue;
}
.bl3{
    line-height: 30px;
    color: lightsteelblue;
  
}
.color a:hover{
    color: orangered;
  transition: 0.9s;
}
.color2 a:hover{
    color: orangered;
  transition: 0.9s;
}
