*{
    margin: 0px;
    padding: 1px;
}
.navbar img{
    padding  bottom: 9px;
    margin top:  5px;
    
}
.logo {
    display: inline-block;
    margin-left: 20px;
   
}
.logo img{
    padding-top: 20px;
}



.menu{
    float: right;
}
.menu {
  margin-top: 34px;
}
.menu{
    margin-right: 211px;
}
.menu a{
    text-align: center;
    padding: 38px;
    margin: -29px;
    color: black;
    letter-spacing: 2px;
    opacity: 0.8;
    font-family: brandon-grotesque;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .14em;
    font-weight: bolder;
    padding-right: 74px;
    padding-left: 20px;
}

.navbar a:hover{
    color: red;
}

text-align: center;
    padding: 43px;
    margin: -29px;
    color: black;
    letter-spacing: 2px;
    opacity: 0.8;
    font-family: brandon-grotesque;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .14em;
    font-weight: bolder;
    padding-right: 74px;
}
.menu a:hover{
    color: red;
}
.img1 h1{
    position: absolute;
    color: white;
   left:571px;
   top: 300px;
   letter-spacing: 10px;
   font-size:50px;
}
.img1 h1:hover{
    color: yellowgreen;
    transition: 0.9s;
}
.img1{
    padding-top: 80px;
    
}
.img1 img{
    width: 100%;
    height: 670px;
}
.para1{
    padding-top: 80px;
}
.para1 p{
    text-align: center;
    font-size: 30px;
    padding: 30px;
    margin: 42px;
    line-height: 2.1;
    color: tomato;
}
.link h2{
    /* text-align: center; */
 
  display: inline-block;
  /* padding-left:600px; */
  color: rgb(0, 0, 0);
}
.link{
    padding: 80px;
    text-align: center;
}

.link a h2:hover{
    color: white;
    background-color: black;
    padding: 15px;
    border: 2px solid black;
}
.icon{
    text-align:center;
  
}
.media a img{
    height: 30px;
}
.multiplep{
    text-align: center;
    font-family: futura-pt;
    color:rgba(29,29,29,.7);
    line-height: 2.2;
}