
*{
    margin: 0;
    padding:0;

  
}
.navbar{
   /* align-items: center; */
}
.navbar img{
    padding  bottom: 9px;
    margin top:  5px;
   
}
.navbar div{
    display: inline-block;
}
.navbar a{

    text-align: center;
    padding:15px;
    color: black;
    letter-spacing: 2px;
    opacity: 0.8;
    font-family: brandon-grotesque;
    /* float: right; */
    font-style: normal;
    font-size: 18px;
    letter-spacing: .14em;
    font-weight: bolder;
}
.menu{
    /* margin-left: 209px; */
    float: right;
    padding-top: 14px;
}
.navbar a:hover{
    color: red;
}
.img img{
    height: 1080px;
    width: 1341px;
    padding-top: 50px;
    text-align: center;
}

.img h1{
    position: absolute;
    top: 86%;
    
    letter-spacing: 10px;
    font-size: 65px;
    color: rgba(0, 8, 5, 0.7);
    left:69%;

   
}
.img h1:hover{
    color: white;
    transition: 0.6s;

}
.multiimg img{
 
    margin: 50px;   margin-right: 91px;
}
.icon{
    text-align:center;
  
}
.media a img{
    height: 30px;
}
.multiplep{
    text-align: center;
    font-family: futura-pt;
    color:rgba(29,29,29,.7);
}