.image1{
    max-width: 1500px;
}
.image1 img{
    width: 100%;
}
.info{
    position: absolute;
  margin-left: 580px;
  top:274px;
  display: inline-block;
  border: 2px solid #ccc;
  width: 24%;
  height: 133px;
 
}

.info h1{
    color: white;
    margin: auto;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 40px;
    font-family: "Segoe UI",Arial,sans-serif;
    padding: 1px 52px;
   
   
}
.info p{
    color: white;
    margin: auto;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 20px;
    font-family: "Segoe UI",Arial,sans-serif;
    padding: 1px 76px;
}
.menu {
    border: 2px solid #ccc;
    width: 21%;
    height: 37px;
    margin-left:571px;
    background-color:  gray;
    margin-top: -20px;
    position: absolute;
    display: block;
    
}
.menu a{
     padding: 8px 15px;
    color: rgb(231, 226, 226);
    font-size: 18px;
    font-family: "Raleway", Arial, sans-serif;
    display: inline-block;
    
   
}
.menu a:hover{
    background-color: rgb(0, 0, 0);
    color: wheat;
}
.images{
    text-align: center;
    margin-top: 40px;
}

.images img{
   width:778px;
}
.forms{
    text-align: center;
    background-color: gray;
    width: 58%;
    margin: auto;
   
}

.forms p{
    width: 100%;
    margin: auto;
    font-size: 18px;
    color: wheat;
}
.form label{
    margin-right: 182px;
}
.form input{
    width: 30%;
    height: 24px;
    border: none;
    border-bottom: 1px solid;
   background-color: rgb(245, 255, 254);
  
}

.send button{
    background-color: rgb(105, 103, 103);
    color: wheat;
    width:31%;
    height: 35px;
    letter-spacing: 2px;
    font-size: 20px;

}
.send button:hover{
    background-color: rgb(247, 244, 239);    color: #000;
}